{{define "header"}}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Go Web App Index</title>
    <link rel="stylesheet" type="text/css" href="/public/static/css/styles1.css">
</head>
<body>
{{end}}