{{template "header"}}
    <div>
        <ul>
            {{if not .}}
                <li><a href="/login/">sign in</a></li>
                <li><a href="/signup/">sign up</a></li>
            {{else}}
                <h3>Hi, {{.}}!</h3>
                <li><a href="/logout/">logout</a></li>
            {{end}}
            <li><a href="static/owls/index.html">owls</a></li>
            <li><a href="https://www.google.com">google</a></li>
        </ul>
    </div>
    {{template "footer"}}
</body>
</html>