{{template "header"}}
{{template "topmenu"}}
<div>
    {{if .ErrorMessage}}
    <p>{{.ErrorMessage}}</p>
    {{end}}
    <form action="/login/" method="POST">
        <br />
        <label>Username:</label><input type="text" name="username">
        <br />
        <label>Password:</label><input type="password" name="password">
        <br />
        <input type="hidden" name="token" value="{{.Token}}">
        <input class="button" type="submit" value="SIGN IN">
    </form>
<div>
{{template "footer"}}
</body>
</html>