{{template "header"}}
{{template "topmenu"}}
<div>
    <form action="/signup/" method="POST">
        {{if .ErrorMessage}}
        <p>{{.ErrorMessage}}</p>
        {{end}}
        <br />
        <label>Username:</label><input type="text" name="username">
        <br />
        <!--Age:<input type="text" name="age">
        <br />
        E-mail:<input type="mail" name="email">
        <br />-->
        <label>Password:</label><input type="password" name="password">
        <br />
        <input type="radio" name="gender" value="1">Male
        <input type="radio" name="gender" value="2">Female
        <br />
        <input type="hidden" name="token" value="{{.Token}}">
        <input  class="button" type="submit" value="SIGN UP">
    </form>
</div>
{{template "footer"}}
</body>
</html>