html, body {
    height: 100%;
}
body {
    position: relative;
    font-family: pt sans, tahoma, arial, sans-serif;
    color: white;

/*    background: url(//www.wargachuk.com/wp-content/uploads/2011/11/background.jpg) no-repeat;*/
/*    background-size: cover;*/

/*    background: #565200; /* Old browsers */
/*    background: -moz-linear-gradient(-45deg,  #565200 1%, #7db9e8 100%); /* FF3.6+ */
/*    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#565200), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
/*    background: -webkit-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
/*    background: -o-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* Opera 11.10+ */
/*    background: -ms-linear-gradient(-45deg,  #565200 1%,#7db9e8 100%); /* IE10+ */
/*    background: linear-gradient(135deg,  #565200 1%,#7db9e8 100%); /* W3C */
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565200', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background:
        -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    -moz-radial-gradient(black 15%, transparent 16%) 0 0,
    -moz-radial-gradient(black 15%, transparent 16%) 8px 8px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
        -o-radial-gradient(black 15%, transparent 16%) 0 0,
        -o-radial-gradient(black 15%, transparent 16%) 8px 8px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #202020;
    background-size:16px 16px;
    background-repeat: repeat;
    /*background: linear-gradient(30deg, #676767 1%, #4e4e4e 100%);*/
    /*background: url("images/bg-01.png");*/

    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ridiculous;
    src: url(../fonts/Mf%20Still%20Kinda%20Ridiculous%203.ttf);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

/*menu*/
.top-menu{
    position: relative;
    width: inherit;
    height: 50px;
    margin: 0;
    margin-bottom: 10px;
/*    background: #322f2f;*/
    /*background: url("images/bg-01.png") repeat-x;*/
    border-bottom: 1px solid #2fcdf4;
}

#top-ul {
    position: absolute;
    top: 2px;
    left: 30px;
    /*right: 5px;*/
    width: 520px;
    height: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#top-ul li {
    display: block;
    cursor: pointer;
}
#top-ul>li {
    display: inline-block;
    padding: 10px 17px;
}

#top-ul a {
    font-size: 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
    font-family: pt sans, tahoma, arial, sans-serif;
    color: lightcyan;
}
#top-ul a:hover {
    font-weight: bold;
    text-shadow:
        1px 1px 1px #fff, 1px 1px 2px #fff, 1px 1px 3px #fff, 1px 1px 4px #75fff3,
        1px 1px 7px #2fcdf4, 1px 1px 8px #2fcdf4, 1px 1px 10px #2fcdf4, 1px 1px 15px #2fcdf4;
}

/*content*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    /*display: inline-block;*/
    /*padding: 2px;
    margin: 10px 45%;*/
    float: left;
    line-height: 20px;
    cursor: pointer;
}

li a {
    white-space: nowrap;
    color: lightcyan;
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    font-weight: bold;
    text-shadow:
        1px 1px 1px #fff, 1px 1px 2px #fff, 1px 1px 3px #fff, 1px 1px 4px #75fff3,
        1px 1px 7px #2fcdf4, 1px 1px 8px #2fcdf4, 1px 1px 10px #2fcdf4, 1px 1px 15px #2fcdf4;
}

form {
    display: block;
}

div label {
    margin: 4px;
    white-space: nowrap;
    color: lightcyan;
    font-size: 24px;
}

input {
    margin: 4px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button:hover {
    background-color: #e7e7e7;
}

/*footer*/
.footer {
    display: inline-block;
    margin: 10px 45%;
    line-height: 20px;
    font-size: 12px;
}

.footer span{
    white-space: nowrap;
    text-decoration-style: dotted;
    text-decoration: underline;
    color: lightgrey;
}